[2020-03-29 03:54] gazhayes opened #4 "problem: location and status are stored on same object"
problem: places and status are stored on same object. This means that when a status is updated it replaces the location object.

solution: store locations (shops etc) in its own collection.

[2020-03-29 03:55] gazhayes opened #5 "Problem: users cannot add a status to an existing location"
Problem: users cannot add a status to an existing location

solution: detect users location and list nearest places, let them select from a list

[2020-03-29 03:58] gazhayes opened #6 "Problem: users cannot add the address for a new location"
Problem: users cannot add the address for a new location

solution: provide an option for users to add a new location (related to #5) if the location they are currently at is not listed. Ask them to paste in the full official address given on the store's website or google maps.

[2020-03-29 06:31] #6 closed

[2020-03-29 06:59] gazhayes opened #9 "problem: when user has location disabled it fails without error"
problem: when user has location disabled it fails without error

[2020-03-29 07:10] gazhayes opened #11 "problem: fetching geolocation can be very slow"
problem: fetching geolocation can be very slow

After submitting the data to add a new shop, the geolocation can take a long time.

Solution: fetch the location using `async` upon loading the route. Use `await` to show the user that the browser is trying to find their location in the background.

[2020-03-29 07:47] #5 closed

[2020-03-30 21:07] #11 closed

[2020-03-30 21:07] #9 closed

[2020-03-30 21:07] #4 closed

[2020-03-31 03:45] gazhayes opened #15 "problem: adding status update using dropdown is annoying"
problem: adding status update using dropdown is annoying
<img width="1061" alt="Screenshot 2020-03-31 at 4 44 27 PM" src="https://user-images.githubusercontent.com/8143945/77984757-f0192d00-736e-11ea-9654-aeee0d1e1a23.png">

solution: change the dropdown to radio buttons

[2020-03-31 05:04] gazhayes opened #16 "problem: no validation on user location before updating status"
problem: no validation on user location before updating status

solution: check that user is within x meters of the shop location before allowing them to make an update.

[2020-03-31 05:10] gazhayes opened #17 "problem: location is updated after returning to / route from other views"
problem: location is updated after returning to / route from other views. This makes the user wait more than they really need.

solution: store users location for x minutes (5?) as a persistent variable and also add a manual refresh button.

[2020-03-31 05:39] gazhayes opened #18 "problem: comment text not cleared after submit"
<img width="245" alt="Screenshot 2020-03-31 at 6 38 54 PM" src="https://user-images.githubusercontent.com/8143945/77990873-f31c1980-737e-11ea-9e94-f96020cdbd09.png">

[2020-03-31 05:41] gazhayes opened #19 "problem: filter is applied to status history when commenting"
<img width="271" alt="Screenshot 2020-03-31 at 6 40 27 PM" src="https://user-images.githubusercontent.com/8143945/77990996-324a6a80-737f-11ea-8f42-cda5ed3d9966.png">
<img width="288" alt="Screenshot 2020-03-31 at 6 40 20 PM" src="https://user-images.githubusercontent.com/8143945/77990999-35455b00-737f-11ea-9e25-8a89ac9e8cd9.png">

[2020-03-31 05:44] gazhayes opened #20 "problem: submit button off screen on mobile"
![photo6060139365520222839](https://user-images.githubusercontent.com/8143945/77991155-979e5b80-737f-11ea-8276-bdd4597822a1.jpg)

[2020-03-31 06:44] #20 closed

[2020-03-31 07:19] #18 closed

[2020-03-31 07:32] #19 closed

[2020-03-31 07:32] #15 closed

[2020-03-31 08:10] gazhayes opened #26 "problem: users see oldest comments first"
problem: users see oldest comments first, but they want to see the most recent comments first because the latest information is most important.

<img width="1634" alt="Screenshot 2020-03-31 at 9 07 29 PM" src="https://user-images.githubusercontent.com/8143945/78002645-05548280-7394-11ea-86df-5090d4d607b8.png">

[2020-03-31 09:52] #16 closed

[2020-03-31 20:55] #26 closed

[2020-03-31 22:31] gazhayes opened #29 "problem: users can't upload pictures"
problem: users can't upload pictures when updating the status.

solution: implement optional image upload on the status update view and use filestack.com (or whatever) to serve the images so that the server instance doesn't need to store any data.

[2020-03-31 22:38] gazhayes opened #30 "problem: dropdown is annoying for users"
problem: dropdown is annoying for users

<img width="1487" alt="Screenshot 2020-04-01 at 11 37 55 AM" src="https://user-images.githubusercontent.com/8143945/78081563-50f74280-740d-11ea-9738-d47f4eaae11f.png">

solution: change to radio buttons

[2020-03-31 23:13] gazhayes commented on #30
solved

[2020-03-31 23:13] #30 closed

[2020-03-31 23:35] gazhayes opened #31 "problem: users can't complain about app"
problem: users can't complain about app

solution: add a complaints/suggestion/feedback form

[2020-03-31 23:57] gazhayes opened #32 "problem: no link to github"
problem: no link to github

solution: since there's no real need for a side menu, just replace the menu with a tabbar (https://onsen.io/v2/api/react/Tabbar.html), add an icon for home, github, and feedback (from #31 )

[2020-04-01 07:04] #31 closed

[2020-04-01 07:04] #32 closed

[2020-04-01 22:17] gazhayes opened #38 "problem: some people add duplicate stores"
problem: some people add duplicate stores because they don't notice that their store is already there.

solution: if the user is within 100 meters of an existing store, ask them the existing listing is the right one.

[2020-04-02 08:59] #17 closed

[2020-04-02 23:12] gazhayes opened #40 "problem: people can't indicate what things are out of stock"
problem: people can't add things that are out of stock

People want to be able to add things that are out of stock but are unable to.

[2020-04-03 06:50] gazhayes opened #42 "problem: no database backups being taken"
problem: no database backups being taken

[2020-04-03 06:50] #38 closed

[2020-04-03 06:52] gazhayes opened #43 "problem: some stores have different capacity to others"
problem: some stores have different capacity to others so the lines move at different speeds.

possible solution: add a capacity metric and allow users to add more fine grained details to now many people are in line

[2020-04-03 08:18] gazhayes opened #45 "problem: stores do not have opening hours"
problem: stores do not have opening hours and there's no status for "store closed".

solution: allow people to add opening hours, get store time zone from location coordinates

[2020-04-03 20:31] gazhayes opened #47 "problem: cannot quickly find a particular store when not nearby"
problem: people want to quickly find a particular store even if they are not nearby

solution: add favourites and render these at the top of the list. User cookies or something so that sign in is not required.

[2020-04-03 20:56] gazhayes opened #48 "problem: people still adding duplicate stores"
problem: people still adding duplicate stores

solution: when adding a new store, automatically search existing stores as the user types, and display it to the user.

[2020-04-04 00:37] gazhayes opened #49 "problem: people can't flag duplicate stores"

[2020-04-04 03:55] gazhayes opened #50 "problem: no social media preview"
problem: there's no preview on social media when sharing the site

[2020-04-04 04:35] jimkleine commented on #48
@gazhayes A few thoughts on this issue:
1.  The current add procedure leaves store descriptions mostly as "free form" text i.e. not much standardisation.  I would be happy to spend some time "grooming" the database, but we probably need to agree a preferred format first.
2.  I could compile a list of all of the major NZ supermarkets (Countdown/PakNSave/New World) and we could bulk add them in adva

[2020-04-04 06:46] jimkleine opened #51 "problem: Unable to update queue status when actually at the store: "Are you really at this store?""
I visited 4 local supermarkets (I'm a cyclist) this afternoon to update queues, add new stores and hand out posters to the door security staff.  Using Firefox on Android.  I was able to add two stores without issue (GetFresh Mangere and Countdown Mangere Town Centre), but I was refused access to update the queue status at the two existing stores (Pak n Save Mangere and Countdown Auckland Airport)

[2020-04-04 07:08] jimkleine opened #52 "problem: Invalid SSL cert being served for https://www.howlongistheline.org"
The domain (only) cert is being served, even when the www URL is accessed.  You should add www.howlongistheline.org to the LetsEncrypt cert as a Subject Alternate Name (SAN).

[2020-04-04 07:54] jimkleine opened #53 "enhancement: Reconsider text of line state labels"
1.  One class of people best placed to keep the line status regularly updated is the door security folks, however the current "busy" status of "Busy. Stay Home." might not be acceptable for store staff to select (the "Stay Home" part).
2.  While trying to update line statuses today, I was offered two different criteria at two different stores (one said more than six; the other said more than 20).

[2020-04-04 08:10] jimkleine commented on #50
Is this problem related an apparent issue with favicon.ico?  I don't see this file checked in to the repository anywhere, but I'm getting a browser (Firefox) error when I try to display the icon directly:
"The image "https://howlongistheline.org/favicon.ico" cannot be displayed because it contains errors."
I can generate a favicon "bundle" for you if you can supply a suitable image.

If this isn't

[2020-04-04 10:14] gazhayes commented on #50
@jimkleine What I'm referring to is the preview text/image that sites like facebook usually show when you share a link, at the moment nothing very enticing comes up for this site.

However, if you feel like making a favicon that would be cool, whatever image you think looks good :)

[2020-04-04 10:18] gazhayes commented on #48
@jimkleine

I was looking at that today actually (I'm just really trying to avoid Google) and it looks like it would do the trick but I don't have time to work out the API etc. If you wanted to do something there that would be most welcome!

I noticed that after I put an extra note on the add store page asking for people to search for existing listing before adding a new one, the number of duplica

[2020-04-04 10:21] gazhayes commented on #51
It's quite likely that whoever added those stores did so from somewhere else so the wrong coordinates are probably in the database.

The way I was thinking about dealing with this was to use openmaps to render an image with a map showing a pin on the current location and letting people reset it to their existing location if it's wrong.

However if you wanted to solve this in some other way that's

[2020-04-04 10:23] gazhayes commented on #52
Thanks for the heads up, I'll get onto it.

[2020-04-04 10:26] gazhayes commented on #53
@jimkleine I've started playing around with a solution to this actually:

<img width="1041" alt="Screenshot 2020-04-04 at 11 24 04 PM" src="https://user-images.githubusercontent.com/8143945/78424648-70bb8e80-76cb-11ea-8300-760478a04e25.png">

Basically: track the max number of people allowed in the store, and the number of people in the line. I'm not sure if a slider is the best way or if radio bu

[2020-04-04 10:44] jimkleine commented on #53
I like the idea of the slider.  Some stores may tell you how many they allow inside at once e.g. for GetFresh (very small local store) it is 3, but many don't (none of the PaknSave/Countdowns I visited today did).
Specific implementation thoughts:
1.  You currently have no way to edit the in-store quantity;
2.  If the number of customers in store isn't known, a more useful proxy might be how "fast

[2020-04-04 10:57] jimkleine commented on #51
@gazhayes Can you check the store co-ordinates I supplied please (I was standing just in front of the main store entrance for each position measurement) to see whether it is a data problem?

Also, if you could supply me with the existing co-ords, it would allow me to desk check the logic in the distance function in lines.js.  I think you mirrored the code from here: https://www.geodatasource.com/d

[2020-04-04 11:14] jimkleine commented on #50
1. I was thinking conceptually along the lines of "how long is a piece of string?", but a quick image search returns very little.  I'll see if I can conjure up a draft logo.
2. For the Facebook links, I there are probably missing metalinks and a suitable image: https://meetedgar.com/blog/facebooks-new-link-previews-need-know-2018/

[2020-04-04 11:29] jimkleine commented on #48
If that is the case, it might be enough for now to allow users to flag duplicates (#49) and just manually patrol anything that gets flagged (I don't yet have a feel for how well-behaved the site's users are being, but that might deteriorate as the number of users rise: I found the project via the NZ Herald article).

[2020-04-04 13:06] jimkleine opened #54 "problem: search bar UI looks like an error"
1.  There is a typo in the "location" bar: "getting your location" should probably be "Getting your location ..."
2.  The Search bar shouldn't have a red background colour: red should be reserved for errors etc.
I appreciate that this is to highlight the search bar, but coloured backgrounds in text boxes can also present contrast issues that result in a need to "invert" the text colour e.g. white

[2020-04-05 04:16] jimkleine commented on #48
We still seem to be getting a number of (local to me) duplicates.  PaK N Save Mangere currently has three records.  One seems to be being kept updated, while one is falling into disuse and the other is a hybrid of Mangere and Ormiston (there is already an actual Pak N Save Ormiston).

I'm not sure if this is related to #51, but it would help if you could provide me with feedback on my last comment

[2020-04-05 04:35] gazhayes commented on #48
I haven't seen any malevolent behaviour so far, though I'm quite sure the trolls/vandals will come at some point.

I think we can use this as a metric somehow for duplicate removal in combination with flagging. I noticed a few more today too.

That is excellent news!

I'll get back to you on that other issue.

[2020-04-05 04:38] gazhayes commented on #51
I'll do a mongo dump so that you have the whole dataset. Will update this issue and the Readme too when it's done

[2020-04-05 04:53] jimkleine commented on #51
That would be a big help.  I did contemplate asking earlier, but I'm mindful that I'm "new" here and I didn't want too seem "demanding" until we have built a rapport.

In the meantime, I'm endeavouring to follow the project's C4 guidelines etc.  Feel free to let me know if/when I haven't got it quite right (I noticed that you edited one of the issue titles for style, for example).

[2020-04-05 05:13] gazhayes commented on #51
@jimkleine I just pushed the current mongo dump and updated the instructions in the readme (https://github.com/gazhayes/howlongistheline.org#insert-the-database-if-running-locally-never-for-production)

You're perfectly welcome here! Don't hesitate to ask for whatever you need :)

It can take a bit of getting used to, but try and think of things in term of problem/solution (even new features etc).

[2020-04-05 05:33] olliechick commented on #54
I can fix the typo

[2020-04-05 07:24] jimkleine opened #56 "problem: Update from radio button to slider interface reset all queue lengths to zero"
We need to be careful that interface updates don't discard useful information.

[2020-04-05 08:47] gazhayes commented on #56
I'll push this to production tonight, then it won't matter because the lines will all have 0 people in them anyway.

[2020-04-05 09:13] gazhayes opened #57 "problem: stores added in wrong location"
problem: some people are adding stores in the wrong location.

solution: when a user tries to update the line status but a location failure occurs, allow them to change the store coordinates to their current location.

[2020-04-05 09:16] gazhayes commented on #51
Depending on whether or not there's also some logic errors, #57 might make this redundant.

[2020-04-05 10:08] jimkleine commented on #56
Sorry I if I seemed a bit terse: I was on a phone to call to a family member out of Auckland and typing with the other hand.   I happened to have the site open and it refreshed with the new interface.

solution 1: Pre-seed the alternate data structure prior to the interface change (this isn't so critical that a handful of lost updates would be a significant problem).

solution 2: Roll out "breakin

[2020-04-05 10:08] #56 closed

[2020-04-05 10:43] gazhayes commented on #56
I just pushed it to production, decided to wait till after 10pm just in case. I just saw your message about Canada, too late! Seems we have a "super spreader" in Edmonton.

[2020-04-05 10:44] jimkleine commented on #57
When this occurred for me, my update was denied and I got prompted with a question resembling: "Are you really at this store?".

At the time, it seemed like a natural UI implementation would be to allow the user to respond "Yes" and then use some kind of consensus "voting" to converge on the true location (otherwise, one bad actor could spoil many correct geotags in a short period of time).  I'm t

[2020-04-05 10:56] gazhayes commented on #57
What about having multiple coordinates per store? If the location is wrong and users want to "update the location" the new coordinates could simple be appended as another valid location. Over time, it will probably become clear which coordinates are real and which ones are outliers based on the number of updates each set receives.

[2020-04-05 10:58] jimkleine opened #58 "problem: Lack of a country field in addresses makes it difficult to schedule the roll-out of breaking changes"
We already have a modest international following, so we can no longer rely on being able to perform maintenance outside of NZ store trading hours.  Can we use a GeoIP database or similar to automatically populate a store country field (to keep this low impact from the user's pespective)?

[2020-04-05 11:22] gazhayes commented on #58
Could you use the existing coordinates to do this? I haven't checked but there must be a database of country boundary coordinates somewhere. You could do it server side with (https://github.com/percolatestudio/meteor-synced-cron) and run it in the background to update any new listings without bothering the client side at all.

[2020-04-05 11:41] jimkleine commented on #57
@gazhayes Initial thoughts on your last comment (yes, I'm being paranoid :-), but security by design is a mostly a good thing):

1.  GPS co-ordinates are quite fine-grained, so that means only adding a location if the locality test fails first (otherwise we would collect a lot of "noise"; I'm aware this might be self-evident, but I'm just making the requirement explicit);

2.  If I was a mischievo

[2020-04-05 12:24] jimkleine commented on #57
I have been trying to think this through visually.  Conceptually, we could allow up to two geotag "clusters" (entrances) per store, calculate the geometric mid-point for each cluster and use only that as a locality comparator in turn (we can test later, but geometric maths might not be fast in Javascript, so keeping this to a minimum for routine queue updates seems like a good idea).

![Store Loca

[2020-04-05 12:27] jimkleine commented on #57
Or we use the geometric mid-point of up to two clusters and tweak the locality radius accordingly?

[2020-04-05 12:51] jimkleine commented on #58
Ahh ... that lead me to realise that potentially the actual requirement (for the problem as stated) is not to determine the store's country, but its timezone (or a near approximation), which means that one of these [StackOverflow solutions](https://stackoverflow.com/questions/8327280/gps-position-to-timezone) might work.

There is also another GitHub project that might be of assistance: https://gi

[2020-04-05 22:55] jeremysherriff opened #59 "suggestion: ability to mark stores as favorites"
Great work, thanks for being the person who did something useful with an idea!

I'd love the ability to mark a few stores as favorites. To continue with the concept of not using logins, the favourite information can be stored in a cookie.

You would then need a way of doing something with the favourite info, such as making the favorites appear at the top of the list on first-open/if no location wa

[2020-04-05 23:54] gazhayes commented on #59
Thanks @jeremysherriff!

I'll close this one in favour of #47

[2020-04-05 23:54] #59 closed

[2020-04-06 01:27] gazhayes commented on #52
@jimkleine this is now done (it's in production), can you verify (and close if so)?

[2020-04-06 01:28] #42 closed

[2020-04-06 01:28] #45 closed

[2020-04-06 01:29] gazhayes opened #60 "problem: lines move at different speeds"
problem: lines move at different speeds and this makes the same line numbers mean different things at different stores.

solution: allow users to add the number of checkouts available in store.

[2020-04-06 01:50] jimkleine commented on #60
See also the discussion to #53.

[2020-04-06 01:53] jimkleine commented on #52
solution: Add www to LetsEncrypt cert as Subject Alternate Name (SAN)

Tested and confirmed fixed.

[2020-04-06 01:56] jimkleine commented on #52
GitHub hiccup: issue not closed on last comment?

[2020-04-06 02:08] jimkleine opened #61 "problem: Visual traffic light hints are missing from new slider queue UI"
The old UI coloured the queue status green/orange/red for a quick visual indication. I'm aware we are making somewhat arbitrary choices re queue depth at this point, but 0 should be green, 50+ should be red and we need to nominate "breakpoints" for green/orange and orange/red boundaries.

solution: Colour the queue description text ("There were nn people in line ...") and or slider control (the la

[2020-04-06 02:09] jimkleine opened #62 "problem: DOM is getting overloaded with too many objects"
The search field is becoming laggy, even on relatively capable devices e.g. iPad Air.  Possibly related to:

1. An increasing number of stores in the DB vs the current Search bar behaviour of incrementally filtering candidates as you type (I'm seeing a lag in character display in the search bar); or

2. More client processing of live status updates during filtering (is the slider UI more intensive

[2020-04-06 02:21] jimkleine commented on #58
Issue title edited to clarify problem.

[2020-04-06 02:33] jimkleine opened #63 "problem: "Getting your location" pane doesn't auto-hide if location services are not available"
If location services are not enabled (or the browser's Share location? Request is denied), a pop-up appears ("Cant get the location ..."; message is missing the apostrophe).  That behaviour is working correctly, but the animated "Getting your location" should hide itself at that point.

solution: Auto-hide "Getting your location" pane if location services are not available.

[2020-04-06 03:16] #52 closed

[2020-04-06 03:38] gazhayes commented on #62
Might be fixed in https://github.com/gazhayes/howlongistheline.org/commit/0facc4dbb6395db04349edeb1dc9eb7fd12e1bbd

but needs testing

[2020-04-06 04:23] gazhayes commented on #61
Yeah even I am annoyed now that the coloured indication is gone!

[2020-04-06 04:45] jimkleine commented on #61
I don't have a complete test environment yet (I do have a working local mongodb and Meteor/Mongo plugins installed for VS Code).  As soon as I do, I'll try to pick off some of these presentation issues in quick succession.

[2020-04-06 05:10] gazhayes commented on #61
That would be very cool. I've only ever used *nix for development environments, hopefully Meteor works ok on Windows. A quick note for when you start, most of the UI is using onsenui (https://onsen.io/). I've been trying to avoid using any other UI libraries (e.g. bootstrap) because they don't play very nicely. But I have used Material as well without issue.

[2020-04-06 05:57] olliechick commented on #54
I can also fix the search bar colour

[2020-04-06 06:30] gazhayes commented on #62
That worked but broke a lot of other stuff, reverted.

The actual problem here is that the DOM is getting overloaded with too many objects. I'll filter mongodb server side by location before sending it to the client so that only local stores are sent by defaut.

[2020-04-06 06:59] jimkleine commented on #62
That might be a problem if a user is checking the queue from home before heading to the store.

In the relational world, I might be tempted to use "top" to limit the number of results, **but** that doesn't work either when the search criterium is complete, because there could potentially be a reasonably large number of legitimate stores for the search location e.g.

Searching for "Mangere" current

[2020-04-06 07:02] jimkleine commented on #62
Related to this, the Home page auto-populates with "random" stores if location services aren't enabled.  That populates the initial UI, but is unlikely to be useful data/bandwidth to the mobile device.

[2020-04-06 08:09] #54 closed

[2020-04-06 09:41] gazhayes opened #72 "problem: not all members are public"
problem: not all members are public

This is a personal choice but it's usually a good idea for members of the github organisation public. It sets the tone for an open culture as more people start getting involved.

You can make yourself public by going to https://github.com/orgs/howlongistheline/people and changing the setting next to your name to public.

Anyone who contributes to the project sh

[2020-04-06 10:20] jimkleine commented on #72
Done.

1.  @gazhayes I think this may be recent housekeeping on your part (last hour) but, if invitations were sent out earlier, I have been having problems all day with GitHub e-mail: they have managed to get at least four of their outbound mail servers blacklisted on SORBS today, and my mail server isn't enthusiastic about that, which means GitHub has been nagging me every couple of hours to re-

[2020-04-06 10:57] jimkleine commented on #62
@gazhayes I looked at the above commit (mostly as a learning opportunity).  If I understand this correctly, limit is MongoDB's top.  The test data dump has 333 location documents.  Is there a pending problem when we reach 501 locations?

[2020-04-06 10:59] gazhayes commented on #72
Github issue numbers and pull request numbers are indexed together, so #71 (for example) is there but it's a pull request not an issue.

[2020-04-06 11:01] gazhayes commented on #62
We can just increase that 500 to a larger number. But in reality, most browsers will grind to a halt by the time we get there.

That reminds me, I better get onto this issue quickly.

[2020-04-06 11:12] jimkleine commented on #72
@gazhayes Thanks for the clarification: I hadn't noticed before.

[2020-04-06 11:30] jimkleine commented on #63
This is related to renderLoading() in imports/ui/Index.jsx.

@gazhayes I recognise this as React code, but it might be a candidate for refactoring at some point in the future (duplication + inline styling e.g. @olliechick had to make multiple edits to support #54)

[2020-04-06 11:58] ioioio8888 commented on #72
Changed

[2020-04-06 11:59] ioioio8888 opened #73 "problem: potential security vulnerability(kind-of < 5.0.3)"
Possible Solution:
Upgrade kind-of to version 6.0.3 or later.

[2020-04-06 13:10] jimkleine commented on #50
@gazhayes I can see you have settled on a logo.  I'll whip up a favicon "bundle" over the next 24 hours. If I put those (static) files in /public, do they find their way to the site's root directory when the project builds?

[2020-04-06 15:13] jimkleine opened #74 "problem: Malformed </title> end tag in /client/main.html"
There is a missing ">" on the </title> end tag.

solution: Fix typo

[2020-04-07 00:08] jimkleine commented on #62
Possible MVP solution:  Don't populate store results until either:

1. We have location service data and can limit to local stores; or

2. We have at least three characters in the Search bar (this is a simpler criterium than delays, but performance seems acceptable from about this point).

[2020-04-07 01:57] #72 closed

[2020-04-07 05:08] #74 closed

[2020-04-07 06:33] ioioio8888 commented on #63
I can fix this

[2020-04-07 07:42] #63 closed

[2020-04-07 07:45] gazhayes opened #77 "problem: other developers might not know about facebook group"
@jimkleine  @olliechick there is a group here: https://www.facebook.com/groups/1161156860891990/?fref=nf

Let me know if you join so I can add you as an admin.

[2020-04-07 08:19] ioioio8888 commented on #61
I think I will temporary set the "breakpoints" at 20 for green/orange and 35 for orange/red boundaries first

[2020-04-07 13:14] domrosscanada commented on #43
Numbers of users in line that is caught - doesn't necessarily reflect perceived safety. Can users be expected to try and provide estimates on number? Numbers become meaningless and will likely be significantly exaggerated based on user perceptions at larger scale stores.

Might be better to stay with something more tied to their emotional feelings as indication of safety.

No Line (Green), Sparse

[2020-04-07 13:23] jimkleine commented on #61
@gazhayes This is off-topic, but I'm just responding to your comment re my dev environment.  I'm multi-OS enabled (Windows/MacOS/Ubuntu), but I usually use MacOS for web dev, and I use multiple IDEs.  VS Code (for MacOS) just seemed to have recommended Meteor support when I did a quick search for "best Meteor IDE". The minor code niggles I have been reporting are just a side-effect of me exploring

[2020-04-07 13:25] domrosscanada commented on #57
Many of these larger stores Walmart and Costco have moved to dedicated entrances and exits as well as one way shopping. For the larger shops - might be easier to increase GPS capture than use multiple upload points?

[2020-04-07 13:38] jimkleine commented on #61
This looks like it is live and working as expected (I have observed green/orange/red entries), so this may be able to be closed?  I might have set the green/orange boundary slightly lower (10-15?), but this is arbitrary anyway.

[2020-04-07 13:58] jimkleine commented on #43
@domrosscanada Thanks for your feedback.

Our starting point was a literal traffic light (No line, A short wait, Busy - avoid).  I have a sense that even if the numbers on the newer slider aren't completely accurate, they are likely to err in favour of the shopper's "feeling" about the length of the line i.e. they may overstate the count if the line seems long and slow moving, or understate it if

[2020-04-07 14:04] domrosscanada commented on #43
22 now in Canada :-)

[2020-04-07 14:48] jimkleine commented on #50
Favicon graphics are ready, based on the GitHub logo.  I'll also need to update /client/main.html with the links.  Previews here:
![favicon-32x32](https://user-images.githubusercontent.com/47098744/78683184-175d9480-7943-11ea-9760-b4e3233cf1bc.png)
![apple-touch-icon](https://user-images.githubusercontent.com/47098744/78683050-e715f600-7942-11ea-9b8d-2feb104451b1.png)
@gazhayes I don't currently h

[2020-04-07 14:51] jimkleine commented on #43
@domrosscanada Was that you? :-)

[2020-04-07 15:04] domrosscanada commented on #43
All but 1 - aim to fully seed the city before promoting it here.

[2020-04-07 15:04] domrosscanada commented on #43
Some organic usage here and as of yesterday organic growth to Calgary.

[2020-04-07 15:05] domrosscanada opened #80 "Non-Code: Draft Guidance Facebook - How to Add a Shop"
How to Add a Shop 101
1.	Stay safe –
a.	Wear a mask or homemade face covering if you are going out on foot. The science is in on masks they serve as a barrier to virus transmission.
b.	You can add shops from the relative safety of your car – so don’t be afraid to drive up close to the entry in a loading zone to add the store. This should take a minute or two not much longer so you likely won’t hav

[2020-04-07 15:07] domrosscanada commented on #80
Will leave this up for editing and additions and post to facebook with updates as community improves it.

[2020-04-08 03:35] gazhayes commented on #62
This is solved in #79. /nearme uses a location filtered subscription instead of just sending everything to the client for the browser to sort out.

I'm intending to put /nearme as the default (/) route when some other things on it are tidied up.

[2020-04-08 03:35] #62 closed

[2020-04-08 03:35] #80 closed

[2020-04-08 03:35] #61 closed

[2020-04-08 03:36] #49 closed

[2020-04-08 03:43] gazhayes opened #81 "problem: there are many duplicate stores"
problem: there are many duplicate stores

solution: allow users to remove duplicate stores:

1. add a button to the card rendered for each store "this is a duplicate" or something
2. create a new view where users can select all the other store objects that are referring to the same location (all the duplicates)
3. Take all the data (name, address, coordinates) from all the duplicates. Ask the user

[2020-04-08 03:46] gazhayes opened #82 "problem: search not implemented on /nearme"
problem: search not implemented on /nearme

/nearme is a new view to refine all the good stuff from Index.jsx and also implement a new way of fetching data from mongodb (there are too many objects to just send everything to the client now).

This is intended to replace Index.jsx as the `/` route when all the bugs are gone.

[2020-04-08 04:12] jimkleine commented on #50
I believe I have solved this: files in /public, but use the root path to reference them from /client/main.html.  I will create a pull request later today.

[2020-04-08 04:17] jimkleine commented on #81
Suggested mvp:  Display a "duplicate" check box if a store has had no queue updates for more than 24 hours.  Filter the collection to exclude stores with the duplicate flag set (I might do this via a view in the relational world: is there a MongoDB equivalent?).  We could always "recall" them by flipping the flag back.

data clean up:  If I manually clean up the dev database, is there an efficient

[2020-04-08 04:49] gazhayes opened #83 "problem: people can't show off their update stats"
problem: people want to show off their additions and update stats

solution: implement user accounts so that stats can be tracked, create a basic profile page and profile ranking (based on additions and updates).

[2020-04-08 06:08] gazhayes opened #84 "problem: many coordinates are wrong"
problem: many coordinates are wrong (added incorrectly). This prevents other users from updating the status.

solution: instead of the toaster notification, send users to a view with:

Error: are you really at this location? It appears that either you are not at the shop, or we have the wrong coordinates for the shop.

If you are not at this shop right now: ask your friends on facebook etc to upda

[2020-04-08 07:02] olliechick commented on #77
I've just joined

[2020-04-08 07:12] #82 closed

[2020-04-08 07:14] gazhayes commented on #77
@olliechick made you an admin :)

[2020-04-08 08:18] gazhayes commented on #73
Let's see what they come back with.

https://github.com/OnsenUI/OnsenUI/issues/2739

[2020-04-08 08:21] kideveloper612 commented on #77
I also joined

[2020-04-08 12:26] akatrodiya opened #91 "problem: project structure is difficult to understand"
Problem: project structure needs to improve
For example - in ui directory, pages and layout are in same directory.

Solution: we can update file structure and code structure to better understanding. also we can divide components in to separate files, so it can be reusable.
Also we can move client and server startup parts in imports.

[2020-04-08 12:35] gazhayes commented on #91
I think this is ok for now, it's not causing any big problems. If you make new modules use a better structure but no need to fix the existing structure.

[2020-04-08 12:49] akatrodiya opened #93 "problem: line under search box is misplaced while scroll down"
problem: line under search box is misplaced while scroll down, as no need to stick border line for search box
![Screenshot 2020-04-08 at 6 20 21 PM](https://user-images.githubusercontent.com/15026463/78785963-a3b09b80-79c5-11ea-8d3a-42a774c20bf9.png)

Solution: set border to content instead of search box, so can't stick always while scrolling window

[2020-04-08 13:28] akatrodiya opened #94 "problem: not showing exact numbers in line slider"
problem: not showing exact numbers in line slider, while updating or done any movements on slider, it showing number of people after page refresh.

Solution: when need to change line, need to show slider position (in tooltip), with what will be result after updating.

[2020-04-08 23:21] gazhayes opened #96 "problem: can't share the status of a store"
problem: can't share the status of a store

People want to be able to share the status of an individual store on facebook, but they can't.

[2020-04-08 23:52] #29 closed

[2020-04-09 01:10] jimkleine commented on #84
@gazhayes This "seemed" to happen to me last night at my local PaknSave.  When I investigated further, I could update the location from the end of the (long) line, but not near the store entrance i.e. someone had added the store from a position in the queue at a time when the store was busy.

suggested MVP:  Extend (double/triple?) the locality radius.

[2020-04-09 01:13] jimkleine commented on #93
An alternate solution might be to give the Search div a background colour, so that it is no longer "transparent".  That would result in the store list scrolling "under" the search bar.

[2020-04-09 01:30] jimkleine commented on #83
@gazhayes I assume this is in response to user contacts.  Are you able to share (suitably anonymized) some of the specific comments?

[2020-04-09 04:16] jimkleine commented on #53
This issue has effectively been superseded by:

a.  The slider UI change; and

b.  Issues #43 and #60.

[2020-04-09 04:16] #53 closed

[2020-04-09 04:23] #50 closed

[2020-04-09 04:28] gazhayes opened #100 "problem: difficult to monitor peak traffic periods"
problem: difficult to monitor peak traffic periods

There was a serious spike in traffic today (about 1500 unique users at any given time). We are well over 150k unique visitors a day now. I frantically deployed more servers and tweaked the load balancer thismorning to keep the site alive.

I think it's time to start monitoring the traffic so that at least there are some metrics that can be observ

[2020-04-09 04:51] olliechick commented on #94
I'll try and fix this

[2020-04-09 08:36] jimkleine commented on #100
@gazhayes I assume you have this deployed to one of the cloud services, which means you might be using their load balancer, but an alternative could be [HAProxy](https://www.haproxy.org), which has a built-in stats page?

[2020-04-09 08:39] jimkleine commented on #93
With Firefox and Chrome on Android, I'm just seeing a floating Search box (no border on the containing div) and that looks good visually.

[2020-04-09 08:47] olliechick commented on #93
![Screenshot_20200409-204105](https://user-images.githubusercontent.com/6047072/78876299-3d9a4600-7aa3-11ea-9008-622b4b9245d7.png)

I see a very thin line (going through New World in the attached screenshot)

[2020-04-09 08:48] jimkleine commented on #81
@gazhayes I will have time tomorrow to clean up the store names and duplicates (and most NZ stores will be closed, making it a good time for this kind of maintenance) if you can give me some guidance on how this is best done i.e. how do I get updates and deletions back into production?

I did ask Countdown for a store list a couple of days ago, but they haven't been forthcoming, so I'll get the br

[2020-04-09 09:20] gazhayes commented on #81
@ioioio8888 is currently working on a patch to let users remove duplicate stores so that will probably be the easiest way you to actually do it (rather than working with the database directly).

Will probably be ready tomorrow or the day after

[2020-04-09 10:12] jimkleine commented on #93
@olliechick I think we will find that there is something like a 1px border on the div and that just removing it (rather than my initial suggestion of giving the div a background) might be a good solution.

[2020-04-09 10:41] jimkleine commented on #81
@gazhayes I wasn't planning on doing this completely manually, but I would like to get it done tomorrow (Friday), if possible, since NZ stores will be closed, Saturday is likely to be a busy day (due to shortened trading hours on Sunday) and the clean-up may save you server resources.

I was thinking more mongoexport (to JSON), programmatic clean-up (including malformed names etc), flag obvious du

[2020-04-09 11:54] akatrodiya commented on #93
i will fix it

[2020-04-09 12:22] akatrodiya opened #104 "problem: need infinite scroll in store list"
problem: need infinite scroll in store list, as on page load (while no search), user is waiting until all data returned

Solution: we have to fetch records with pagination on scroll

[2020-04-09 21:57] gazhayes commented on #104
Users don't need to see all the stores, only stores that are nearby. I've already limited this to 50 stores so the speed is ok. Infinite scroll doesn't help with anything because the issue is latency and DOM overloading.

[2020-04-09 21:57] #104 closed

[2020-04-09 21:59] #91 closed

[2020-04-09 22:49] gazhayes opened #105 "problem: updating line status is very slow"
problem: updating line status is sometimes very slow

The location request currently has to go to the server and back. During peak periods on slow connections this sometimes makes it look like the line isn't being updated.

solution: do the location check on the client side and update the client side UI immediately. Only send it to the server for verification if it passes client side verification.

[2020-04-10 03:40] gurubobnz opened #106 "feature request: api for line length"
Hi team,

I'm working on a web app to help people spend less time once inside the supermarket. I was thinking it would be great to be able to include the line length from within the app. I'm not familiar enough with meteor to be able to spot how the client talks to the server, but in its current state is there an endpoint that could be used to fetch this information over http?

Thanks :)

[2020-04-10 04:19] gazhayes commented on #106
Hi Bob,

There's no API endpoint, but feel free to send a pull request to add one if you like. Meteor is basically just NodeJS.

Alternatively, depending on what you are doing exactly you could just add it as a new feature here and take advantage of the existing userbase.

[2020-04-10 04:23] gazhayes opened #107 "problem: FAQ page only has my details but there are now other contributors"
problem: FAQ page only has my details but there are now other contributors

solution: remove the links to my facebook etc and simply add a link to the AUTHORS file.

[2020-04-10 04:27] gurubobnz commented on #106
Thanks, I'll look into Meteor in the future and see if I can manage a PR, thanks for the response.

[2020-04-10 04:27] #106 closed

[2020-04-10 04:31] gazhayes commented on #106
No worries, let me know if you need any help.

[2020-04-10 11:00] jimkleine commented on #81
@gazhayes I ended up going through these by hand.  I'm nearly finished.  I have:

1.  Made the corrections in a collection called "groomed".  If I can, I'll ZIP it and add it to another comment when I'm finished.  Otherwise, I'll load it to DropBox and e-mail you a link.

2.  I'm using MongoDB v4.2.  There seem to be a **lot of deprecated commands** in this release.  I haven't yet checked whether

[2020-04-10 11:07] gazhayes commented on #81
@jimkleine did you flag just the ones to remove, or also the duplicates that should be kept? I.e. if we just remove everything you flagged, would we be losing listings that we need to keep?

[2020-04-10 11:08] #77 closed

[2020-04-10 11:11] jimkleine commented on #81
@gazhayes Where I had more than one "candidate", I chose the one with the best address information, left it with isDuplicate=false, and flagged the other(s) as isDuplicate=true, which means that you could filter/delete everything with isDuplicate=true and not lose anything useful.

[2020-04-10 11:12] jimkleine commented on #81
@gazhayes To clarify why I made that choice, I noticed yesterday PM that you have currently have live logic to update the location, so even if I didn't select the best location data, that should shake itself out.

[2020-04-10 11:18] gazhayes opened #111 "problem: same listing can be added multiple times when flagging duplicates"
problem: same listing can be added multiple times when flagging duplicates, and this creates an error in the `Locations.merge` method.

[2020-04-10 11:56] gazhayes commented on #81
@jimkleine  Cool, I should be able to use that then!

Can you email it to me? gareth.hayes@gmail.com

[2020-04-10 11:58] jimkleine commented on #81
@gazhayes Sure.  Just one caveat that I only recently noticed: the dev database still has some old fields e.g. queue status is no/small/long, so there have been schema changes that you will have to work around.

[2020-04-10 12:02] gazhayes commented on #81
That's ok I'll massage it into something useful

[2020-04-10 13:20] jimkleine commented on #81
@gazhayes Sent.

[2020-04-10 13:25] jimkleine commented on #84
@ioioio8888 I'll desk check the existing locality radius algorithm later today (I have a long tape measure and a nearby park :-) )

[2020-04-10 22:05] #81 closed

[2020-04-10 22:05] #111 closed

[2020-04-10 22:45] emjas92 opened #115 "problem: Line numbers become less relevant over time"
The number of people in the line should be reset each night/morning, or even after few hours, as it's irrelevant how many people there were "2 days ago", "yesterday", or even a few hours ago.

The number should probably be reset at midnight, assuming the store is not open 24hrs.
I understand this is related to having store hours available, but having the numbers expire would be a good start.

[2020-04-10 23:04] gazhayes commented on #115
Yeah I actually had it working this way before but changed the data structure, I'll put it back in.

[2020-04-10 23:52] gazhayes opened #116 "problem: sometimes all locations are wrong when flagging duplicates"
problem: sometimes all map locations are wrong when flagging duplicates

<img width="591" alt="Screenshot 2020-04-11 at 11 49 31 AM" src="https://user-images.githubusercontent.com/8143945/79029915-a7713780-7bea-11ea-8abf-6e5acebb36f5.png">

solution:
1) check the location archive for previous coordinates, render these as other choices (sometimes they are correct),

2) use https://www.gisgraphy.com

[2020-04-10 23:58] jillymacnz opened #117 "problem: store name not showing for some supermarkets"
Some store names not showing, only showing location.

[2020-04-11 00:02] gazhayes commented on #117
Thanks @jillymacnz Could you add a screen grab of an example?

[2020-04-11 04:46] gazhayes opened #119 "problem: can't see which supermarket has the best price"
problem: I can see which supermarket has the shortest lines, but I can't see which one has the best prices on what I want.

solution: this needs a bit more thought, but I think in principle the simplest solution is to let people add products and prices.

[2020-04-11 08:37] jimkleine commented on #119
I think this one might be out-of-scope for now.  #40 should take priority.  Supermarkets typically stock thousands of items, some of which will be temporarily on sale at any particular time.  This information is already available via their online stores.

Countdown supermarkets generally offer the same pricing (at least for Auckland stores, but do have large vs small format stores with differing p

[2020-04-11 08:42] jimkleine commented on #117
@jillymacnz Thanks for your feedback.  I did spend several hours yesterday tidying up the store names and addresses, but @gazhayes hasn't merged my updates into production yet. This problem might largely go away when that is done.

@gazhayes If you care to send me another dump of the locations collection after the merge, I can review anything newer.

[2020-04-11 08:51] jimkleine commented on #115
@gazhayes There is a downside to expiring the queues: we can't as easily identify "orphaned"/duplicate locations. Also, seeing an "old" queue  might encourage users to either update the queue themselves (good), or encourage the store's staff to do so (better): I'm seeing some evidence of this with a small local specialty supermarket I added (they weren't initially updating the queue at all, but th

[2020-04-11 08:57] jimkleine commented on #93
@gazhayes This looks like it was fixed by #103, but I don't have rights to close it.

[2020-04-11 09:07] jimkleine commented on #84
@ioioio8888 I was able to check this today, and the distance() function accuracy looks OK (there are some minor variations that I attribute to device limitations, but they shouldn't be material).
[Distance Check.pdf](https://github.com/howlongistheline/howlongistheline.org/files/4464302/Distance.Check.pdf)

[2020-04-11 09:24] jillymacnz commented on #117
@gazhayes  there are two countdowns in highland park and both on Pakuranga Highway.
 Details are as follows:
(This is the main one but no address on ur website)
Highland Park Countdown
507 Pakuranga Highway
Highland Park, Auckland, 2023
(09) 535 4834
![Screenshot_20200411-210752_Chrome](https://user-images.githubusercontent.com/63480645/79040090-36597080-7c3a-11ea-9f77-c764527e54e2.jpg)
also:
This

[2020-04-11 09:29] #93 closed

[2020-04-11 11:43] jimkleine commented on #117
@gazhayes When I reviewed the data yesterday, I did find a record for 10 Aylesbury St, without a store name.  When I checked Google Streetview, it showed me a carpark, so I flagged it as a duplicate/for removal.  It doesn't really matter because:

Pakuranga (I didn't notice a typo in the store name, though: "Pakaranga") and Highland Park were included in the data update I sent you yesterday, with

[2020-04-12 03:12] olliechick opened #125 "problem: line numbers are being sent as undefined to /editLine"
solution: fix the "Update/Confirm x are waiting in line" button to send the queue length the user has selected

[2020-04-12 03:13] olliechick commented on #125
Currently, clicking the button opens the page https://howlongistheline.org/editLine?id=__storeid__&lineSize=undefined

[2020-04-12 03:36] gazhayes commented on #125
oops. I'll fix this.

[2020-04-12 03:43] #125 closed

[2020-04-12 04:58] olliechick opened #128 "problem: There are some typos in the codebase, which can reduce users' trust and/or hinder understanding"
solution: fix the typos

[2020-04-12 05:03] olliechick commented on #128
"shop" and "store" are both used - "shop" appears to be used the most, so I'll change all instances of "store" to "shop" in user-facing strings

[2020-04-12 05:03] #94 closed

[2020-04-12 05:26] jimkleine commented on #128
We do have international users now ...  The Oxford dictionary entry for "store" says:

North American: A shop of any size or kind.
British(1): A large shop selling different types of goods.
British(2): A shop selling basic necessities e.g. village store

[2020-04-12 05:28] olliechick commented on #128
that's a good point, i hadn't considered i18n... perhaps we should use store then?

[2020-04-12 05:33] gazhayes commented on #128
@olliechick since you are doing the change, it's up to you.

The pressure is on, I hope you make the right choice!

[2020-04-12 05:38] jimkleine commented on #107
@gazhayes It looks like this was addressed in #118, but I don't have rights to close this issue.

[2020-04-12 05:45] gazhayes commented on #107
@jimkleine you should now be able to close issues etc, could you try closing this one to make sure it works?

[2020-04-12 05:46] #128 closed

[2020-04-12 06:25] jimkleine commented on #125
@gazhayes Not sure if this is related, but this store somehow has a "NaN" queue length:
![NaN Queue](https://user-images.githubusercontent.com/47098744/79062062-d8389600-7cea-11ea-8230-0bcb3b382305.png)

[2020-04-12 06:36] olliechick opened #130 "problem: Slider not initialised with value in /editLine"
solution: initialise it

[2020-04-12 06:50] olliechick opened #132 "problem: users can't easily pick out the store name in the list of stores visually"
solution: give the store name more emphasis

[2020-04-12 08:02] #130 closed

[2020-04-12 08:02] olliechick opened #133 "problem: users can't fix store names"
When store names are incorrect/incomplete, there is no way for users to fix them or report them as wrong, other than contacting someone, e.g. through the Facebook group or the GitHub issues.

The page that is used to report duplicate stores could also be used to report incorrect store names (and possibly addresses, too).

[2020-04-12 08:03] olliechick opened #134 "problem: before the list of stores has loaded, there is no signifier to the user that anything is happening"
solution: have a loading animation

[2020-04-12 08:05] gazhayes commented on #125
@jimkleine weird. Is that the only one you found?

[2020-04-12 08:16] #132 closed

[2020-04-12 08:45] jimkleine commented on #125
It looks like we might have three current representations for a 0-length queue:
1.  NaN for really recent updates (which implies this was broken in a recent commit):
![Pak'nSave Clendon - NaN](https://user-images.githubusercontent.com/47098744/79064561-0673a100-7cfe-11ea-8d4e-c58cbcbf9133.png)
2. Zero (correct) for updates from ~24 hours ago:
![New World Papatoetoe - 0 People](https://user-images.

[2020-04-12 08:59] jimkleine commented on #133
@olliechick @gazhayes I did complete a fairly substantial clean-up of the store names and addresses on Friday night.  The updates aren't in production yet.  That largely resolved e.g. #117, but the longer we leave the merge, the more fraught this becomes.

There is a fundamental problem with allowing unconstrained edits, which relates to stores with ambiguous names and locations.  #117 identified

[2020-04-12 09:04] jimkleine commented on #107
@gazhayes Done. Fixed by #118.

[2020-04-12 09:04] #107 closed

[2020-04-12 09:21] #84 closed

[2020-04-12 09:21] #100 closed

[2020-04-12 09:23] gazhayes commented on #115
Un-assigning myself from this, if anyone picks it up in the meantime, the simplest solution is to use synced cron: https://github.com/howlongistheline/howlongistheline.org/blob/bf642afb2432910c9b96ad31f29713b9521b327d/server/main.js#L7

[2020-04-12 09:40] #134 closed

[2020-04-12 09:45] jimkleine commented on #125
@gazhayes I have just refreshed my dev DB from the last dump (thanks :-) ) and run a query to see how many NaN's we have.  There are eight, all with tightly-clustered last update times.
![Documents with line = NaN (8)](https://user-images.githubusercontent.com/47098744/79065755-bfd67480-7d06-11ea-814e-17571d772ca0.png)
What TZ are we using for the production DB (this seems off for UTC)?

[2020-04-12 09:48] jimkleine commented on #125
@gazhayes TZ might be UTC after all; Pak'nSave Clendon was ~6 hours ago, so ~3-4pm NZST.

[2020-04-12 09:53] gazhayes commented on #125
Yeah it's in UTC.

I'm not sure why this is happening, worth keeping an eye on it. I'll push DB updates fairly regularly because they can serve as defacto backups.

[2020-04-12 10:57] olliechick commented on #125
Looks like this was caused by #124 (where users were sent to /editLine with
?lineSize=undefined, so unless they moved the slider on that page, that is
what was sent to the DB) and was fixed by #126

On Sun, 12 Apr 2020 at 21:54, Gareth Hayes <notifications@github.com> wrote:

[2020-04-12 11:10] olliechick opened #138 "problem: info and warning cards aren't clearly highlighted as such, which means users don't have much context for the messages"
solution: add warning/info/etc icons to the start of all message cards

[2020-04-12 22:36] olliechick opened #140 "problem: slider doesn't work on mobile"
Solution: it currently just listens for mouse up events, but it needs to just for "finger up" or whatever events is generated when a user selects a number on a touchscreen

[2020-04-12 22:37] olliechick commented on #140
Needs to be implemented on /nearne and /editLine

[2020-04-12 22:39] olliechick commented on #140
I think it's `onTouchEnd`

[2020-04-12 23:05] gazhayes commented on #140
You could also do it on the `change` event

[2020-04-12 23:11] gazhayes commented on #140
`onChange={ function(event) {...`

[2020-04-12 23:12] #140 closed

[2020-04-12 23:24] olliechick commented on #140
yeah, one option would be to use `onChange` - and then track the events `touchmove` and `mousemove`, but it fires for every increment so it gets laggy when you move the thumb quickly

[2020-04-13 02:12] olliechick opened #142 "problem: "50+" overflows into the next line on mobile"
it should be in line with "0" and the slider

[2020-04-13 02:13] olliechick commented on #142
![Screenshot_20200413-141149](https://user-images.githubusercontent.com/6047072/79086661-f8bb2b80-7d90-11ea-92da-46be627ae4bd.png)

[2020-04-13 02:19] gazhayes commented on #142
You could probably just get rid of those numbers altogether now that you show the number while sliding

[2020-04-13 02:24] jillymacnz commented on #117
@gazhayes @jimkleine Thanks guys looking a lot better now and like the new feature of update/confirm option. 👍

[2020-04-13 02:30] #57 closed

[2020-04-13 02:30] #48 closed

[2020-04-13 02:32] olliechick commented on #142
Yeah, that would probably be better. In that case, it might be good to
permanently display the tooltip on the thumb; I'll see how that feels.

On Mon, 13 Apr 2020, 2:19 pm Gareth Hayes, <notifications@github.com> wrote:

[2020-04-13 03:54] olliechick opened #144 "problem: update/confirm button is non-specific and possibly confusing"
solution: display different text in button depending on if the user had moved the slider.
"Confirm x people are waiting in line" if they haven't moved it,
or "Update line length to x people" if they have.

[2020-04-13 04:41] #142 closed

[2020-04-13 08:25] LyallD commented on #133
Great site, but some stores are so ambiguous that the information is meaningless. For example, Countdown Hamilton - like which of the 8 or so Countdown stores in Hamilton is that?  A street address or suburb needs to be mandatory (logged as a separate issue).

[2020-04-13 08:28] olliechick commented on #133
@jimkleine has your cleanup been pushed into production yet?

[2020-04-13 08:42] jimkleine commented on #133
@olliechick Unfortunately not: I don't have access to the production DB. @gazhayes Did you get the merge script I sent you and will you have a chance to look at this tonight?

[2020-04-13 11:56] gazhayes commented on #133
Hi @olliechick and @jimkleine, sorry, I will definitely get to that in the morning! I've been catching up on other work over the last few days but will be able to get back into this project tomorrow :)

[2020-04-13 22:57] gazhayes commented on #119
Just a note: For adding prices, it would be good to allow people to OCR their receipts when they get home (https://golb.hplar.ch/2019/07/ocr-with-tesseractjs.html) but also let people add/edit while at the store.

[2020-04-13 23:39] gazhayes commented on #133
Ok the database has been updated. Safer and more sustainable to avoid that in future and just work at a 'protocol' level to allow users to fix things themselves - if there's a problem with the data the real problem is with the site itself.

[2020-04-14 00:43] jimkleine commented on #133
@gazhayes (1) I'm not yet seeing the name/address updates. Did you restore the "groomed" collection first?

(2) This was an organic problem. It arose from crowd sourcing the locations without first providing clear guidance about/validation for what constitutes a "good" store name and address.

(3)  Since locations are effectively required to be added on mobile devices, we need to be supportive of

[2020-04-14 00:50] jimkleine commented on #140
@olliechick I'm no longer seeing max/min numbers on the slider. Is this intentional? (I am seeing tool tips and dynamic updates to the button, but I have no sense of scale for initial movements).

[2020-04-14 00:57] jimkleine commented on #142
@olliechick @gazhayes I originally added this comment to #140, but it fits better here.

Without the min/max numbers, there is no sense of scale to the slider, so you have no idea how far to move it until after you have already started to move it.  I suggest this breaks the user's mental model of what this control should look like and how you use it.

The original problem is suggestive of a respon

[2020-04-14 01:07] jimkleine commented on #119
@gazhayes I still think this out of scope for now, due to complexity.

Store receipts necessarily have abbreviated descriptions due to line length.  Attempting to link those back to some kind of standardised product descriptor is going to be challenging.

This is straying into [PriceSpy](https://pricespy.co.nz/) territory. They are well-established, but even they have made no forays into grocery y

[2020-04-14 01:43] jillymacnz commented on #117
@gazhayes countdown highland park still has no name. It is still showing as 507 Pakuranga Highway, Highland Park, Auckland
![Screenshot_20200414-134203_Chrome](https://user-images.githubusercontent.com/63480645/79177025-e0f9ab00-7e55-11ea-8e25-0e3e52489a86.jpg)

[2020-04-14 01:46] gazhayes commented on #133
Strange, yeah I restored the groomed data and ran the update. You're not seeing *any* of them, right?

The production environment isn't actually running Meteor (it runs with Node instead) and I'm using mongo replicaset. This is how I pushed the update:

[code]

[2020-04-14 01:57] gazhayes commented on #142
I personally think it's ok without the min/max now that the live number is displayed while sliding it (it was only there originally because there used to be no indication at all). But if you think there's a problem and think it's worth writing a patch that's totally fine of course. Just don't let it revive the original overflow problem.

[2020-04-14 03:43] jimkleine commented on #117
@jillymacnz I don't believe any of my updates have been applied to the production database.  I'm going to take this discussion to #133 for now, since that is where @gazhayes has posted his last update. You are welcome to follow along there.

[2020-04-14 04:23] jimkleine commented on #133
@gazhayes I don't believe you have any of the updates (try using "Countdown" as a search criteria and it returns lots of store names that are just "Countdown", which I groomed out).

1.  The script sets its own connection string, although I it should have defaulted to the string you passed to the mongo shell anyway.

2.  I read this as you backed up the production database, restored it to a separa

[2020-04-14 04:44] gazhayes commented on #133
Just quickly, the production database was dropped before restoring, we were actually running on 'test' not 'production' before this but I changed the wording in the script I posted to make it flow better.

The reason for using a replicaset is actually just for access redundancy, there are now 8 application servers doing simultaneous reads.

I emailed you the credentials, don't break anything!

Als

[2020-04-14 04:50] olliechick commented on #133
A good example, as someone has pointed out before (I think on the Facebook
page), is if you search "hamilton" the second result is just called
"Countdown" and the address is just "Hamilton" - there is 8 or so
Countdowns in Hamilton

On Tue, 14 Apr 2020 at 16:44, Gareth Hayes <notifications@github.com> wrote:

[2020-04-14 04:51] olliechick opened #146 "problem: when searching, location isn't taken into account"
This causes an issue, for example if someone searches "Countdown" it would be most useful to find Countdown stores near them, currently the top result is in Pukekohe (despite my location being Christchurch).

[2020-04-14 05:17] gazhayes commented on #133
Ah ok fair enough then

[2020-04-14 08:02] jimkleine commented on #146
@olliechick I instinctively search by suburb, which then returns local stores.  You could also keep typing: "Countdown [store name]", to reduce the result set.  I think we may need to be careful not to exclude/frustrate potentially valid searches that we haven't [yet] anticipated.  Is this a user-reported issue?

[2020-04-14 08:07] jimkleine commented on #133
@gazhayes Got your e-mail.  Credentials aren't working for me (I think this is a firewall issue on your end).  Please check your e-mail.

[2020-04-14 08:53] olliechick commented on #146
No, it's not a user-reported issue, it just occurred to me when searching
"Countdown" to see if there were still some without a proper address.

On Tue, 14 Apr 2020 at 20:02, Jim Kleine <notifications@github.com> wrote:

[2020-04-14 11:22] #40 closed

[2020-04-14 12:49] jimkleine commented on #133
@gazhayes I completed a check of the database tonight: check your e-mail for details.  There are around ~300 new stores that will also require their names and addresses checked.  I'll try to get to that over the next 24 hours.

[2020-04-14 12:58] #146 closed

[2020-04-14 13:02] jimkleine commented on #146
@olliechick I believe I have identified the problem with the database: see my last update to #133.

The current ability of users to delete duplicates is actually compounding this problem.  I originally reviewed and corrected 333 locations, but by the time my updates were applied 101 of those locations had been deleted (presumably as duplicates).  There are now an additional 308 locations that need

[2020-04-14 21:53] #144 closed

[2020-04-14 22:25] gazhayes opened #150 "problem: stock status page is very slow"
problem: stock status page is very slow

[2020-04-14 23:37] npvn commented on #105
FYI this issue will be resolved as a part of https://github.com/howlongistheline/howlongistheline.org/pull/151.

[2020-04-15 04:24] #150 closed

[2020-04-15 05:08] RatMom77 opened #152 "problem: non-local stores sometimes show up where they shouldn't"
I am based in Takanini, Auckland and the second store that appears in my list of stores near me is in kaikohe, Northland some 3.5 hours away. My browser has permission to know my location.

[2020-04-15 05:12] olliechick commented on #152
I've just mocked my location as being in Takanini and the top 3 stores for me are Countdown Takanini, Boomerang Superette in Manurewa, and Pak n save takanini.

[2020-04-15 06:31] #96 closed

[2020-04-15 06:44] reidwicks opened #155 "problem: can't update line length on mobile"
Using Firefox on Android I'm unable to update the line length. Hitting "update line length" does nothing, as if I'm clicking on a blank part of the page.

Not sure what info you might need, but more than happy to provide it.

[2020-04-15 07:01] gazhayes commented on #152
I've noticed this kind of thing sometimes too. @RatMom77 can you try a different browser and see if it's the same thing?

[2020-04-15 07:05] gazhayes commented on #155
Thanks @reidwicks. Found the problem, should be fixed soon.

[2020-04-15 07:35] gazhayes commented on #155
@reidwicks can you try again now?

[2020-04-15 07:52] #138 closed

[2020-04-15 09:06] RatMom77 commented on #152
Hmm yes now I get count down, pack n save and rattan alive market but for
the last week it's always had kaikohe? Oh well location seems OK now thanks
Ollie.

On Wed, 15 Apr 2020, 17:13 Ollie Chick, <notifications@github.com> wrote:

[2020-04-16 06:18] olliechick opened #159 "problem: confirm button doesn't work sometimes"
See https://www.facebook.com/groups/1161156860891990/permalink/1169677936706549/

"I’ve noticed that whenever I try to drag the slider to update my local supermarket the slider moves but when I push confirm it just remains the same as it was before. the status doesn’t actually change. Why is that?"

[2020-04-16 06:35] olliechick commented on #159
Might be related to #155

[2020-04-16 06:48] #116 closed

[2020-04-16 08:31] sparcasticus opened #160 "Problem: contributors can't profit from their work"
Problem: contributors can't profit from their work

Solution: adopt the [FIDO protocol](https://github.com/fidozero/documentation/blob/master/howlongistheline.MD)

### How to start
1. Read the protocol description linked above and ask questions about anything which doesn't make sense.
2. Start logging pull requests (including past pull requests). The FIDO protocol is currently being implemented so

[2020-04-16 08:58] gazhayes commented on #160
I've started adding my pull requests.

[2020-04-16 10:54] jimkleine commented on #160
@sparcasticus   Welcome to GitHub.  Perhaps you would like to start by introducing yourself, especially since you have no personal information in your profile?

@gazhayes "FUSD" seems to be a seldom used cryptocurrency called "Foton USD" that almost never trades and is (literally) only worth fractions of a penny when it does.  We seem to be the first and only GitHub project to ever be invited to t

[2020-04-16 11:13] jimkleine commented on #133
@gazhayes We still seem to be waiting on you to correct the configuration on the web nodes re MONGO_URL.  Do you have an ETA on this please, because this is on the critical path to get the store data fixes live?

[2020-04-16 11:24] gazhayes commented on #160
I'm aware of the project. FUSD, FBTC, FNZD etc are assets on the proposed FIDO chain (they don't exist yet).

[2020-04-16 11:28] gazhayes commented on #133
@jimkleine Ah yeah, I'll re-run those scripts and update the mongourl in the morning.

[2020-04-16 11:32] jimkleine commented on #152
@RatMom77 Welcome to GitHub.  Thanks for the update.  It's always good to know when we do (or don't) fix a problem.

For future reference, it helps us to troubleshoot these kinds of problems if you can:

1.  Indicate the type of device (phone/tablet/desktop) and operating system (Android/iOS/Windows/MacOS etc);

2.  Who your Internet provider ("ISP") is (this might be your phone company if it is y

[2020-04-16 11:32] #152 closed

[2020-04-16 11:42] jimkleine commented on #160
@gazhayes A Google search for those acronyms turns up nothing useful.

1.  Do you have an external/independent link?

2.  Is this really an issue for **this** project if it doesn't exist yet?

3.  Is it compatible with this project's licence?

[2020-04-16 20:47] gazhayes commented on #160
@jimkleine have a careful read of the protocol description, once you see how it all fits together I think the role of F assets will become clear. I've been talking about it with @sparcasticus on and off for about a year so it's difficult to see which parts need further explanation for fresh eyes.

The protocol can start being _used_ now. Whether or not howlongistheline evolves into something usefu

[2020-04-16 20:52] gazhayes commented on #159
Could be related to #161

[2020-04-16 21:32] gazhayes opened #162 "problem: line update location check can be very slow"
problem: line update location check can be very slow

solution: let the user know what's happening (loading)

[2020-04-16 22:35] gazhayes opened #163 "problem: no contributor footage for NZTV"
problem: this project is being covered on TV

If you want to be in it:

Record a 5-15 second video saying what you like about contributing (can include your name + location if you like). Can be webcam or phone.

Put it here by 6pm NZ time today:  https://www.dropbox.com/request/wixiacM0ExzOUSkF63IC

ping @olliechick @ioioio8888 @jimkleine

[2020-04-17 06:03] #163 closed

[2020-04-17 10:36] jimkleine opened #167 "problem: social media share buttons aren't properly responsive on small screens"
If the screen width is smaller than the length of the confirm/update button + the social media icons, the icons overflow off the right side of the store card. See screenshot:

![Social Icons on small screen devices](https://user-images.githubusercontent.com/47098744/79560344-8ed9b380-80fb-11ea-87b1-5e3791ed0a81.png)

solution: Make the social media icons properly responsive.

[2020-04-17 14:14] ioioio8888 commented on #162
#166 solved

[2020-04-17 14:14] #162 closed

[2020-04-17 16:35] jimkleine commented on #167
A solution to this problem seems to be to add "flex-wrap: wrap" to the last list-item in imports/ui/nearme.jsx -> renderCard().  If I manually edit the CSS in a running browser, I get this:

![Flex-wrap = wrap](https://user-images.githubusercontent.com/47098744/79591607-e0e6fd00-812c-11ea-98e4-33a462034596.png)

However, adding "style={{ flex-wrap: wrap }}" to nearme.jsx causes a Meteor error.  It

[2020-04-18 00:36] gazhayes opened #171 "problem: not easy to see which store is where"
problem: not easy to see which store is where. There are addresses, but not everyone knows the address of their local stores.

solution: simplest solution is probably to add a map tile from the existing [map server](https://github.com/howlongistheline/mapserver).

[2020-04-18 00:44] jimkleine commented on #171
@gazhayes Is this a user-reported issue?  This could generate a significant amount of extra mobile data usage (I think, when I sampled this, map tiles were around 70Kb each?).

It is also potentially going to increase the amount of required vertical scrolling to find a store.

[2020-04-18 00:51] jimkleine commented on #133
@gazhayes I'm still not seeing the store name and address clean ups.  I'm likely to re-apply these later today unless there is a reason I shouldn't?

[2020-04-18 01:02] gazhayes commented on #133
@jimkleine no reason not to.

I really don't know why it didn't work :(

Everything is running on the 'live' db, so just take a backup and you could run it straight on that so that no live data gets lost during dump/restore.

[2020-04-18 01:04] gazhayes commented on #171
yeah user reported, also annoying for me anyway.

Those problems can be solved by putting it in a modal so that the tiles aren't fetched until the user actually clicks on the address.

[2020-04-18 01:17] jimkleine commented on #133
@gazhayes Is there a lull in traffic at any time during a typical day that provides a good window for this (The backup will be the biggest server load, but I don't want to inadvertently choose "rush hour").

[2020-04-18 01:35] jimkleine commented on #171
@gazhayes Any solution to this should consider, but not necessarily implement, a method for "caching" the map tile for the store.

The tile is small enough to consider storing it directly in the store document, but large enough that we don't want to be passing it around unnecessarily.

[2020-04-18 02:07] #160 closed

[2020-04-18 02:15] gazhayes commented on #133
Not really, other than after 9pm, but this is a relatively fast operation so it should be fine.

The only problem is if you do a dump and restore, in that case the most important thing is having it in a script so that there's minimum time between them for people to input and lose data

[2020-04-18 02:36] gazhayes opened #172 "problem: location data is sometimes up to 1km off"
problem: location data is sometimes up to 1km off

solution: implement https://github.com/gregsramblings/getAccurateCurrentPosition to replace geolocation.getCurrentPosition() with low accuracy enabled (high accuracy was disabled because it creates huge delays on some browsers)

[2020-04-18 02:42] gazhayes opened #173 "problem: people don't always update data"
problem: people don't always update data

solution: use Google's popular times API somewhere (if it's free, haven't checked yet just noting this down).
https://github.com/m-wrzr/populartimes/ looks like a nice library for it.

[2020-04-18 02:50] jimkleine commented on #172
@gazhayes Do we have a concrete example of this? I did perform some physical testing on an Android device (#84) that suggested accuracy should be acceptable.

[2020-04-18 07:29] jimkleine commented on #117
@jillymacnz All of your local stores should have been updated with their correct addresses now.  Apologies for the delay. :-(

[2020-04-18 07:32] jimkleine commented on #133
@gazhayes My updates are in as of ~6:15pm.  I'm going to try to make a dent in cleaning up the newer stores overnight.  I have a local backup that I took just prior to that should you need it for any reason.

[2020-04-18 11:24] jimkleine opened #174 "problem: Adding a store prompts for initial line length via old radio button interface"
problem: When adding a store, after completing the name and address, you are prompted to update the current line length, but that prompt uses the old (pre-slider) UI.

solution: Update the radio button selections with the new slider UI.

[2020-04-18 12:09] jimkleine commented on #167
Apparently I was making a basic React mistake.  The correct syntax was:

`style={{ flexWrap: 'wrap' }}`

[2020-04-18 13:23] #167 closed

[2020-04-18 13:24] jimkleine commented on #51
This behaviour has since been fixed: Users are currently prompted to update the store location (with a warning) if they try to update the queue at a store where there is a location mismatch.

[2020-04-18 13:24] #51 closed

[2020-04-18 13:27] jimkleine commented on #47
@gazhayes Can you edit the issue description to reflect the "favourites" feature please?

[2020-04-18 13:59] jimkleine commented on #60
@gazhayes This is essentially the same as issue as #60.  We should close one of them.

[2020-04-18 17:21] MadanBhandari opened #176 "problem: location not working"
problem : Location not working

URL : https://howlongistheline.org/
OS: Ubuntu
error msg on Firefox `ERROR(2): Unknown error acquiring position`
console error msg on Chromium `Network location provider at 'https://www.googleapis.com/' : No response received.`

also not working with chrome on Android.
same issue on local development setup.

[2020-04-18 21:42] gazhayes commented on #47
favourites is a solution not the problem

[2020-04-18 21:45] #60 closed

[2020-04-18 21:50] gazhayes commented on #176
Hey @MadanBhandari I can't reproduce this and we aren't using google API for this so I guess it's chrome itself trying to get its location from Google, which means it's a browser issue that we can't directly fix.

[2020-04-19 05:20] MadanBhandari commented on #176
Problem is `navigator.geolocation.getCurrentPosition()` not working on for both browser on PC and Android device for me.

[2020-04-19 05:53] jimkleine commented on #47
@gazhayes I understand, but the answer to the problem as stated is "better search", not "favourites".  That is why I intentionally used the term "reflect".

[2020-04-19 06:07] jimkleine commented on #176
@MadanBhandari I suspect this problem is because you are a developer.  This project should be using the browser's geolocation provider, but you may have changed your provider for testing purposes with one of your own projects.  Is that possible?

[2020-04-19 06:18] gazhayes commented on #176
You could try and see if navigator.geolocation.watchPosition() returns valid results, if so, #172 will fix this.

[2020-04-19 06:46] jimkleine commented on #117
@jillymacnz I'll continue to keep an eye on this.  I'm closing this issue for now, but we can re-open it if it remains a problem for you.  You will be able to find it under Issues > Closed and you can still add a comment in that state.

[2020-04-19 06:46] #117 closed

[2020-04-19 06:48] MadanBhandari commented on #176
This problem isn't unique for this project on my laptop (Ubuntu 19.10) and modile (Android 9 on Oneplus 5T), `navigator.geolocation.getCurrentPosition()` isn't working anywhere.
 - [w3school example](https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_geolocation_error)
- [MDN Example](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API/Using_the_Geolocation_API)

both of the e

[2020-04-19 08:29] jimkleine commented on #176
@MadanBhandari  I have just tried your w3schools link with the following results:

1.  Safari on MacOS desktop: Prompts for location permission; returns "Location information is unavailable".  This is **expected behaviour**.  Apple's geolocation provider defaults to using wireless connections only for geolocation.  This Mac has no wireless connectivity; only wired.

2.  Firefox on MacOS desktop: P

[2020-04-19 08:43] jimkleine commented on #176
@MadanBhandari Your StackOverflow links are fairly old (8 and 3 years ago respectively).

Have you tried this [StackOverflow solution](https://stackoverflow.com/questions/61032115/unknown-error-acquiring-position-geolocationpositionerror-code-2-firefox-linux)?  It was the first hit when I searched for that Firefox error message.  Mint is a derivative of Ubuntu/Debian.

[2020-04-19 08:58] jimkleine commented on #176
@MadanBhandari I have just tried the MDN example and it doesn't work for me on either Firefox or Chrome on MacOS ("Unable to retrieve your location", but no errors like you have described), but something isn't working as expected, because it never asks for permission to use location services like the w3schools demo does, despite being in adjacent browser tabs.

[2020-04-19 09:03] jimkleine commented on #155
@reidwicks Just following this up to confirm that this issue can be closed.  Is this working for you now?

[2020-04-19 09:50] jimkleine commented on #173
@gazhayes If I understand correctly, it is chargeable and there is [no free tier](https://developers.google.com/places/web-service/usage-and-billing#find-place).

The feature still doesn't seem to be available as an official Google API.  There is an [open Google request](https://issuetracker.google.com/issues/35827350) (login required to view), it was assigned to a Google product manager in 2018,

[2020-04-19 10:23] MadanBhandari commented on #176
@jimkleine Error message only present at https://howlongistheline.org/, not in w3school & MDN links.
Laptop OS: Ubuntu 19.10
Firefox : 75.0 (64-bit), Mozilla Firefox for for Ubuntu canonical-1.0
Chromium : Version 81.0.4044.113 (Official Build) snap (64-bit)

Mobile: Android 9.0.11 (Oneplus 5T)
Chrome: 81.0.4044.96 - Not working (MDN, w3school links and this app)
Firefox Preview: 4.2.1 (Build #209

[2020-04-19 10:43] jimkleine commented on #176
@MadanBhandari I'm on Firefox 75.0 on MacOS.  Let's try to match geolocation settings (I'll dig out the relevant config options shortly) and see if we can reproduce this.  In the mean time, a couple more questions:

1.  Is the iPhone on the same WiFi network when it works?

2.  How is your WiFi connection routed to the Internet (I'm not seeking personally identifiable information, just trying to u

[2020-04-19 11:05] MadanBhandari commented on #176
@jimkleine

No, not in same WiFi. Also I don't have iPhone with me to test again. I took my neighbour phone to check and also asked him to use the app while making run to store. Android is on same WiFi while its working on Firefox but not on Chrome.

Private broadband for personal/home use, I am not sure about how its routed, I have access to wifi router.

Yes, I have updated as per stackoverflow

[2020-04-19 12:02] jimkleine commented on #176
My Firefox settings for 75.0 on MacOS (via about:config in the URL bar; after continuing past the Firefox warning, start typing "geo." to limit the configuration items displayed):

![Screen Shot 2020-04-19 at 11 44 21 PM](https://user-images.githubusercontent.com/47098744/79687023-866aaf80-8298-11ea-86de-83017f4f17c3.png)

Notes:
1.  The (two) changes I have made are highlighted in bold (you can r

[2020-04-19 12:18] jimkleine commented on #176
@MadanBhandari With those Firefox settings, this is what I get:

**1. Site result:**

![Screen Shot 2020-04-20 at 12 09 16 AM](https://user-images.githubusercontent.com/47098744/79687477-9a63e080-829b-11ea-9c79-eed8a7280bed.png)

**2.  w3schools Demo:**
![Screen Shot 2020-04-20 at 12 11 08 AM](https://user-images.githubusercontent.com/47098744/79687480-a64fa280-829b-11ea-8f58-5d93a1aaeadc.png)

**

[2020-04-19 15:17] MadanBhandari commented on #176
@jimkleine I am so sorry, I was being stupid. I never checked google maps to check if location is working or not. I was only looking for `navigator.geolocation.getCurrentPosition()` examples only. Google map also not working, it says `Your location could not be determined.`

![Screenshot from 2020-04-19 20-44-09](https://user-images.githubusercontent.com/6429311/79691672-9aa1b300-827e-11ea-824a-2b

[2020-04-19 15:17] #176 closed

[2020-04-19 15:29] jimkleine commented on #176
@MadanBhandari No problem.  As a next step, since these are both portable devices, I would suggest testing from another location.  That would narrow down whether it is the devices/OS/browsers or something about your home network configuration.

Perhaps Google is trying (and failing) to obtain a location via your IP address/ISP when you are at home?

[2020-04-19 15:45] MadanBhandari commented on #176
@jimkleine I have recently did fresh installation of Ubuntu on Laptop after locakdown and I can't imagine how I never face this issue before, even on mobile. Android on same WiFi works on Firefox but not on Chrome and some other android mobile on same WiFi network works as expected. My mobile on cellular data also doesn't work. I will post update here when I find solution for this for future refer

[2020-04-19 17:51] MadanBhandari commented on #176
UPDATE: Installed Chrome, it's working :), tried re-installing Firefox and Chromium still same error.

[2020-04-19 21:52] #173 closed

[2020-04-20 02:39] tel77 opened #178 "problem: Stock Status updatable by people not near supermarket"
Today I tested the Stock Status feature by submitting "Test" as the product (twice), and it was accepted, even though I am maybe 10km from the supermarket (Pak'nSave Lower Hutt).  It also allowed me to put "." (period) & " " (space) as the product.  If they haven't been removed, you should be able to see these here:
  https://howlongistheline.org/stocks?id=Z6egNsr2PjJMhuiWJ

Is the system meant to

[2020-04-20 03:10] gazhayes commented on #178
This isn't a problem right now because people aren't really using the stock status feature anyway. If it starts becoming an aspect that is used and fake out-of-stock items become a problem then it will definitely be worth solving.

[2020-04-20 04:13] tel77 commented on #178
Thanks for your prompt response, Gareth.

Well when I search for "Lower Hutt", and click "Stock Status" on each of the supermarkets it finds, I can see most of them show items which have run out, and most of *those* supermarkets listed "Flour" and "Cocoa" 18 hours ago, so I'm not sure if that's legit or not.  This includes the Pak'nSave Lower Hutt supermarket that I linked to originally.

What are

[2020-04-20 05:10] ioioio8888 commented on #159
I think it is already fixed by adding the loading indicator.

[2020-04-20 05:10] #159 closed

[2020-04-20 06:10] reidwicks commented on #155
It now shows an "updating" bar, but it unfortunately doesn't go anywhere

[2020-04-20 07:00] jimkleine commented on #155
@reidwicks Can I get a little more detail please in order to try to reproduce this:

1.  Which OS/browser versions?

2.  What was your Internet connectivity at the time (mobile data vs in-store WiFi etc)?

3.  Which store were you at (so that I can check that its location coordinates are reasonable)?  Did both of these update attempts occur at the same store?

4.  Where were you standing relative

[2020-04-20 07:30] jimkleine commented on #178
@tel77 Welcome to GitHub.  I have just removed your "test data".  I will add a screenshot to this Issue, however I would prefer that you didn't use the production database for testing.  You are, however, more than welcome to fork this project and contribute a fix.  That will give you a local database copy to test with :-)

@gazhayes There are currently ~235 stores with at least one out-of-stock.

[2020-04-20 07:39] jimkleine commented on #178
This was how @tel77's additions were presenting before I removed them from the database:

![Missing OutOfStock Validation](https://user-images.githubusercontent.com/47098744/79725600-8f618c80-833d-11ea-8e79-285b8b312e45.jpg)

possible solution(s):

1.  Perform locality check before allowing updates;

2.  Exclude items below a minimum string length (this will likely have to be short e.g. "< 3" i.e.

[2020-04-20 10:28] gazhayes commented on #178
Simplest solution to this would be to set a unique index on the text of the item and just update the time in the case of duplicates. Though I wonder if that really is a problem, maybe the history is also relevant.

Just based on my own behaviour, I can't be bothered to update the stock status while I'm at the store and I just want to get my stuff and get out. But I do update it when I get home. Wh

[2020-04-20 12:07] #171 closed

[2020-04-20 14:30] MadanBhandari opened #181 "problem: bad ui-ux, no logo"
problem: bad ui-ux
solution:

- add logo
- update search field styles, remove transparent background
- update there were 0 people in line to there was no line

[2020-04-20 15:49] MadanBhandari commented on #181
I am working on this, mistakenly closed.

[2020-04-20 22:06] gazhayes opened #183 "problem: many map locations are wrong"
problem: many map locations are wrong

solution: most stores do have a correct location in the database (a historical location). Simplest solution is to let users revert the location to one of these, similar to how the duplicate store process does it.

[2020-04-21 00:43] tel77 commented on #178
Thanks for all your responses.

BTW, how are stock levels meant to be updated so products no longer show as being out-of-stock?  Do they disappear off the list after X days, or can people somehow update them?  And where is this documented?  I can't see any way on the site and I don't see it in the FAQ.

@jimkleine

If I wanted to invest the time to learn a new language that I might not use again,

[2020-04-21 00:51] gazhayes commented on #178
@tel77

No but that's a good idea, might just hide them after 2 days or something.

[2020-04-21 01:03] tel77 commented on #178
Sometimes getting rid of them after X days might work, but there will be no value of X which will be appropriate for all cases, because some items could be replenished within minutes of being reported as being out-of-stock, and some could take a week.

Currently, do they just accumulate forever, with no way for anyone to clear them when they're noticed as being in-stock again?

[2020-04-21 06:25] #181 closed

[2020-04-21 06:25] #172 closed

[2020-04-21 07:31] #183 closed

[2020-04-21 09:36] gazhayes commented on #178
Yeah that's right.

So actually the problem here might simply be that people can't mark them as being in stock again.

I understand your other reasons, but I'd like to point out that the contribution protocol here means this particular objection is not a problem. If you follow the contribution protocol, your change gets merged and pushed into production. There's no one deciding if it's the right "

[2020-04-21 09:41] gazhayes opened #187 "problem: can't mark items as being back in stock"
problem: can't mark items as being back in stock again

[2020-04-21 09:41] gazhayes commented on #178
Added #187 which is related

[2020-04-21 12:06] #187 closed

[2020-04-21 15:45] jimkleine commented on #178
@tel77 This seems to be an issue you are quite passionate about.

Not all of the team of **volunteers** working on this project typically works with the Meteor stack either, but we each made a personal choice that the benefit to others outweighed any inconvenience to ourselves.

It is better to ask for permission than forgiveness.  The difference between grafitti and a mural is that one artist had

[2020-04-22 06:25] reidwicks commented on #155
1. I'm using Firefox for Android, running Android 9, version PPOS29.114-134-10

2. experienced this issue on both wifi and then data.

3. New World Willis St

4. I've always updated within 10 metres of the store entrance.

5. I've never been prompted with this service to confirm whether I was really at the store.

6. I'll get one on my next trip.

[2020-04-22 08:18] gazhayes commented on #155
@reidwicks also, if possible can you try with a different browser and see if anything is different (to narrow down if it's specific to firefox or not)

thanks!

[2020-04-22 09:38] jimkleine commented on #155
@reidwicks @gazhayes I'm also using Firefox (68.7.0) on Android and I was able to process a confirmation just before 9:00pm tonight i.e. ~35 mins ago without any issues.

There was a noticeable delay (seconds, not minutes) between tapping the button and receiving the pop-up confirming the request had been processed, and the page then reloaded.

I don't recall there being any options in Firefox mob

[2020-04-22 11:11] jimkleine commented on #155
@gazhayes I have just had a further look at this:

1.  I don't see any settings in Firefox Android for blocking pop-ups;

2.  Google Maps says our location data was slightly off for New World Willis St Metro.  The coordinates we had put the store at the corner of Willis and Boulcott Sts.  From that point to the store's actual location on Google Maps is ~140m in a straight line, so I would have exp

[2020-04-22 11:24] jimkleine commented on #133
We are currently adding ~5 stores/day and three of those are typically duplicates.  I'm only spending ~5 mins/day confirming addresses (two of today's additions were "Countdown stores" that mapped to private homes) and purging the duplicates, so I'm going to close this for now.  We can revisit it if the volume changes.

[2020-04-22 11:24] #133 closed

[2020-04-22 11:39] jimkleine commented on #105
@gazhayes I mentioned this issue in one of my recent updates to #155.

We do seem to have made some fixes to at least partly address this in the UI (the "updating" progress bar), but there aren't any pull requests linked to **this** issue.

Do you broadly recall what we have done/tried so far?  Otherwise, I'll dig through the closed pull requests.

[2020-04-22 11:51] jimkleine commented on #115
@gazhayes Do you actually have a cron job currently running for this?

The reason that I am asking is that I'm seeing updates being posted at times when stores are closed and I'm not seeing any local stores with updates >6 hours ago.

[2020-04-22 13:56] jimkleine commented on #178
@tel77 I'll investigate creating a test environment for you.  I'm just not quite sure when I will get to it.

[2020-04-22 14:04] jimkleine commented on #174
Fixed in #177 (Line length update completely removed from imports/ui/addLine.jsx: line defaults to zero length).

[2020-04-22 14:04] #174 closed

[2020-04-22 21:36] gazhayes commented on #115
Ah yeah this should be closed now

[2020-04-22 21:36] #115 closed

[2020-04-22 21:39] gazhayes commented on #105
IIRC there were a few things done which fixed this as a side effect. Seems (to me) to be fixed, I'll close it now

[2020-04-22 21:39] #105 closed

[2020-04-22 22:55] tel77 commented on #178
Thanks for the offer of creating a test environment for me, Jim.  I don't know whether I'll be doing any more testing, but it may be useful for others, and maybe it can be linked to from the FAQ or similar.

Meanwhile, regarding my fraud (which I committed then brought to your attention), I've cuffed myself to a fixed object and am awaiting authorities to pick me up...after lockdown, when it will

[2020-04-23 06:14] jimkleine commented on #178
@tel77 If you had stopped there, you would have been fine.

Unfortunately, [fraught is an actual word](https://www.lexico.com/definition/fraught), and it doesn't mean what you apparently think it means.

[2020-04-23 06:21] jimkleine commented on #178
@gazhayes I think we have covered the basics with recent pull requests (#188, #189), so I'm going to close this issue for now.

If we need more in the future, I'll consider adding a banned words list to the database (I don't want to put those directly in the source, for obvious reasons).

[2020-04-23 06:21] #178 closed

[2020-04-23 07:04] jimkleine commented on #58
@gazhayes I'm going try to implement this as the equivalent of a calculated field (MongoDB doesn't seem to directly support calculated fields, but I may be able to use an [aggregation](https://docs.mongodb.com/manual/reference/aggregation/)).

I'm going to begin with a relatively crude longitude to timezone map to test whether this is feasible, ignoring all of the exceptions-of-convenience for now

[2020-04-23 09:12] gazhayes commented on #58
I'm not sure what happens after Monday anyway. Are lines still going to be a problem?

An alternative to things like calculated fields is to just actually calculate it in a cron job (synced cron) and write to the database in a new field.

[2020-04-23 10:15] jimkleine commented on #58
@gazhayes This is really just an opportunity to extend my own skills.  I know how I would do this in a relational DB.  I was just curious how it might be done in MongoDB. (We haven't had any more recent "breaking" changes anyway, so it isn't really required).

I was also just tidying up outstanding issues to see what could be cleared and make it obvious what were bugs vs enhancements (hence the ta

[2020-04-23 10:18] gazhayes commented on #58
Yeah I noticed that haha nice work

[2020-04-23 10:35] jimkleine opened #190 "problem: logo displays incorrectly on iOS browsers"
problem: Webkit browsers (Safari & Firefox) on iOS 10.x do not correctly resize the project logo on the home page.

solution: Either implement browser-neutral CSS or add an alternate webkit variant of the CSS that manages the resizing of the logo.

screenshot:

![Logo Image Problem](https://user-images.githubusercontent.com/47098744/80089675-65fd6680-85b2-11ea-8634-e506a95dc18f.png)

[2020-04-23 14:22] MadanBhandari opened #191 "problem: no mobile app"
problem: no mobile app
solution: create mobile app

Add APIs for mobile app

- [ ] Get nearest shops
- [ ] Add new store
- [ ] report duplicate store

[2020-04-23 14:31] #190 closed

[2020-04-23 21:14] tel77 commented on #178
Sorry Jim, I thought you meant "fraud" when you wrote "fraught".

[2020-04-23 22:03] tel77 opened #194 "problem: Stock Status wording layout issues"
On wide screens (e.g. phone in landscape orientation) the stock status age of last update runs into the wording to the left of it, e.g. here:
https://howlongistheline.org/stocks?id=L7Pqn5iCK8wLtHruP
"burger buns is out of stocka day ago".
No gap between "stock" and "a".

See screen shots attached: Portrait looks OK, landscape doesn't.

![Screenshot_20200424_landscape](https://user-images.githubuse

[2020-04-23 22:14] tel77 opened #195 "problem: Stock Status duplicate stock items"
Stock items with the same description show in the Stock Status.
(I raised this as part of a different issue last week, but I'm raising it separately now since that issue is now closed.)

For example, here:
https://howlongistheline.org/stocks?id=L7Pqn5iCK8wLtHruP
"meadow fresh cal I trim is out of stock..." [listed twice]
"calci trim milk is out of stock..." [listed twice]

See screen shot attached

[2020-04-24 09:06] jimkleine commented on #194
I can see how this was missed: it appears to be an artifact of the styling/theming of the OnsenUI components that only appears on the Android platform.  The other platforms (desktop, iOS) don't exhibit this problem.  I'll take a look at it.

[2020-04-24 15:22] jimkleine commented on #195
Does anyone have a preference for how we resolve this (retaining multiple items keeps a "history", but is that actually useful, particularly if they were created at the same, or nearly the same, time, as in this example)?

There is an ancilliary issue relating to items that are marked as returned to stock that I observed while testing a patch for #194.  When you click the "Back in Stock" button, t

[2020-04-25 23:49] #194 closed

[2020-04-26 05:27] gazhayes opened #197 "problem: search string must be 100% correct to find anything"
problem: search string must be 100% correct to find anything. So when people search for 'pak n save wainoni' but their local store is listed as 'pak nSAVE wainoni' (or whatever) it doesn't give any results.

solution: simplest is probably split the string by whitespace and use an OR search on the index

[2020-04-27 09:23] #197 closed

[2020-04-30 05:17] BurgerMama opened #199 "problem: I added new store: McDonald’s Newtown. But I was at home and it won’t let me delete it..."

[2020-04-30 06:08] olliechick commented on #199
As a quick fix, because it had made your home address public, I spoofed my GPS location to the location of McDonalds Newtown and updated the queue to force the GPS location of the store to move.

[2020-04-30 09:46] BurgerMama commented on #199
Thank you so much

On Thu, 30 Apr 2020 at 6:08 PM, Ollie Chick <notifications@github.com>
wrote:

[2020-04-30 12:25] #199 closed

[2020-04-30 12:27] jimkleine commented on #155
@reidwicks In the absence of an update, I'm assuming this is working for you now.

[2020-04-30 12:27] #155 closed

[2020-04-30 18:31] jillymacnz commented on #117
Hey Jim

Cheers for sorting it all out.

Sorry my email has been playing up so only just got your email come through
now.

Good luck with your very handy project you are involved with,
howlongistheline.

Cheers
Jilly

On Sun, 19 Apr 2020, 6:46 pm Jim Kleine, <notifications@github.com> wrote:

[2020-04-30 19:02] jimkleine commented on #117
@jillymacnz You're welcome :-)

There seems to be at least one person that keeps trying to add another Countdown Highland Park (apparently not realising that the store's official name is Aviemore Drive) and I have been quietly removing them.

NB The e-mail issue might not have been your fault.  Github managed to get a number of its mail servers blacklisted for spamming and they were slow to fix it

[2020-08-15 02:16] mattkemp opened #202 "problem: can't refresh a store"
**Problem**: Once you've found a store you can't easily refresh it to see if the line has changed.

Use case: thinking about going, check the store, 50 people in line, leave it an hour go back to desktop tab or phone, can't refresh, have to change search bar or refresh whole page and search again.

[2020-08-15 02:40] mattkemp opened #203 "problem: don't trust the current status"
**Problem**: when watching a store, deciding whether to go, there's no way to verify the current status or at least make a more informed decision to believe it.

I've been to a store, counted the line and marked it as 26 people in line when I got there (about 4pm) and 42 when I left, but when I got home it had been changed to "no line" which is pretty unbelievable (it's a busy store going into a p